th {
    font-size: 13px;
    background: #903;
    border-color: #b6003d;
    color: #fff;
    /*font-weight: normal;*/
    text-align: center;
    vertical-align: middle
}
td {
    border: 1px solid #d0c2a5;
    padding: 6px 8px;
    font-size: 14px;
    vertical-align: middle
}
form {
    display:inline-block;
}